Product-ID:     ${info.deviceId}
Lot number:     ${info.lotId}
Wafer number:   ${info.waferId}
Test date:      $testdate
Flat angle:     $flat
Columns:        ${info.numberOfColumns}
Rows:           ${info.numberOfRows}

Pass bin code:  $passchar
Fail bin code:  $failchar
Skip die:       $skipchar

Tested dies:    ${info.totalCnt}
Passed dies:    ${info.passCnt}
Failed dies:    ${info.failCnt}

     $topnumbers
     $numbers

MAP
$wafermap